name: Build & Push qBittorrent Custom

on:
  # Se ejecuta cuando haces push a la rama main
  push:
    branches: [ "main" ]
  # Se ejecuta automáticamente a las 3:00 AM UTC todos los días
  schedule:
    - cron: '0 3 * * *'
  # Te permite ejecutarlo manualmente desde la pestaña Actions si lo necesitas
  workflow_dispatch:

env:
  # CAMBIA ESTO por tu usuario/imagen de Docker Hub
  DOCKER_IMAGE_NAME: erchache2000/qbittorrent-py
  # Esto usa el nombre de tu repo para GHCR automáticamente
  GHCR_IMAGE_NAME: ghcr.io/${{ github.repository }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write # Necesario para subir a GHCR

    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Configurar Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Login en Docker Hub
      - name: Login en Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Login en GitHub Container Registry
      - name: Login en GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.HGCR_TAG }}

      # Construcción y Push
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # IMPORTANTE: pull: true fuerza a buscar actualizaciones de la imagen base (linuxserver)
          pull: true 
          tags: |
            ${{ env.DOCKER_IMAGE_NAME }}:latest
            ${{ env.GHCR_IMAGE_NAME }}:latest
          # RHEL 9 x64 es amd64. Si usaras Raspberry Pi añadirías linux/arm64
          platforms: linux/amd64
